Release {{date}}
# PRs

{{#pull_requests}}
- #{{number}}
{{/pull_requests}}
{{^pull_requests}}
Nothing.
{{/pull_requests}}

# Commits

{{#commits}}
- [{{commit.message}}]({{sha}})
{{/commits}}
{{^commits}}
Nothing.
{{/commits}}
